@import '../../styles/variables.scss';

.notification{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  @include maxWidth();
  opacity:0;
  z-index:30;
  visibility: hidden;
  transform: translate3d(0,100%,0);
  transition:opacity .24s $normalTiming, transform .24s $bounceTiming, visibility 0s .24s;
  &.active{

      opacity:1;
      visibility: visible;
      transform: translate3d(0,0,0);
      transition:opacity .24s $normalTiming, transform .24s $bounceTiming;

  }

  >.inner{
    >svg{
      width:30px;
      height:10px;
      fill:#5B5B5B;
      margin:0 auto 13px;
      display: block;

    }

    width:280px;
    padding:13px 19px;
    float:right;
    margin:0 24px 24px 0;
    background-image: linear-gradient(-180deg, rgba(255,255,255,.75) 0%, rgba(255,255,255,.9) 33%, rgba(255,255,255,1) 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: $borderRadius;

    .item {
      transition:transform $normalTiming .18s,opacity $normalTiming .3s;
      margin:3px 0;
      &.t-enter{
        opacity:0;
        transform: translate3d(-22%,0,0);
      }
      &.t-enter-active{
        opacity:1;
        transform: translate3d(0,0,0);
      }
      &.t-leave{
        &:hover>.close{
          opacity:0;
          visibility: hidden;
        }
      }
      &.t-leave-active{
        transform: translate3d(22%,0,0);
        opacity:0;


      }
      position: relative;
      cursor: pointer;
      >.close {
        opacity: 0;
        visibility: hidden;
        transition:opacity .24s ease,visibility 0s .24s;
        > svg {

          position: absolute;
          right: -6px;
          top: 3px;
          stroke-width: 5px;
          width: 12px;
          height: 12px;
          > g {
            stroke: #5b5b5b;
          }
        }

      }
      &:hover{
        >.close{
          transition:opacity .24s ease;
          opacity:1;
          visibility:visible;
        }
      }
    }
  }

}
