@import '../../styles/variables.scss';


.cart{
  width:1024px;

  margin:0 auto;
  background:#fff;
  padding:32px;
  border-radius:$borderRadius;

  >.cartList{
   >.cartListItem{
     margin:34px 0;
   }
  }

  >.checkout{
    padding:0 32px;
    border-top:1px solid $subtleFontColor1;
    @include clearfix();
    >.controls{
      float:right;
      width:33%;
      >.total{
        font-size:$LargeFontSize;
        text-align: center;
      }
      >.ButtonNormal{
        margin:0 auto;
        display: block;
        font-size: $bigFontSize;
        border-color:#000;
      }
    }
  }
}
