@import '../../styles/variables.scss';

$morphRight: 118px;
$morphBottom: 46px;
$buttonWidth:118px;
$buttonHeight:42px;
.cart{
  width:1024px;
  min-height: 420px;
  margin:0 auto;
  background:#fff;
  padding:32px;
  border-radius:$borderRadius;
  overflow-y:auto;
  >.cartList{
   >.cartListItem{
     margin:34px 0;
   }
  }

  >.checkout{
    padding:0 32px;
    border-top:1px solid $subtleFontColor1;
    @include clearfix();
    >.controls{
      float:right;
      padding-bottom:46px;
      >.total{
        font-size:$LargeFontSize;
        text-align: center;
      }
      >.orderWrapper {
        > .ButtonNormal {
          margin: 0 auto;
          display: block;
          font-size: $bigFontSize;
          transition:all .8s ease;
          position:absolute;
          bottom:$morphBottom ;
          right:$morphRight;
          background: $mainColorTint;
          color:#fff;
          border:none;
          z-index:1;
          >span{
            height:$buttonHeight;
            width:$buttonWidth;
            >.svgWrapper>svg{
              fill:#fff;
              stroke-width: 2px;
            }
          }

        }

        >.morph{
          visibility: hidden;
          overflow:hidden;
          opacity:0;
          transition:all .3s ease;
          position:absolute;
          bottom:$morphBottom;
          right:$morphRight;
          height:$buttonHeight;
          width:$buttonWidth;
          background: $mainColorTint;
          border-radius: 0 0 $borderRadius $borderRadius;

          z-index:0;
          >.submitForm {
            padding:36px;
            text-align: center;
            >.main{
              color:#fff;
              font-size:$LargeFontSize;
              margin: 0 0 40px 0;
              >.price{
                margin:6px 0 0 0;
                display: block;
                font-size:$fontSize;
                color:$subtleFontColor2;
              }
            }
            >.inputEffectAgain {
              &:first-of-type{
                padding: 0 12px 0 0;
              }
              position: relative;
              margin: 0;
              width: 142px;
              display: inline-block;

              label {
                color: $subtleFontColor;
                font-size: $bigFontSize;
                font-weight: normal;
                position: absolute;
                pointer-events: none;
                left: 5px;
                top: 10px;
                transition: 0.2s $normalTiming all;
              }

              input:focus ~ label, label.active {
                top: -20px;
                font-size: $bigFontSize - 2px;
                color: $subtleFontColor;
              }

              input {
                color:#fff;
                font-size: $bigFontSize;
                padding: 10px 10px 10px 5px;
                display: block;
                width: 100%;
                border: none;
                border-bottom: 1px solid $subtleFontColor2;
                background: none;
                outline: none;
              }
            }
            >.controls{
              display: block;
              margin:72px auto 0;
              >.cancel{
                border:none
              }
              >.ButtonNormal{


              }
            }

          }
        }

        &.active{
          >.ButtonNormal{
              opacity: 0;
          }

          >.morph{
            visibility:visible;
            width:100%;
            height:100%;
            padding-top: $bannerHeight;
            opacity:1;
            z-index:2;
            margin:0 0-$morphRight 0-$morphBottom 0;
            transition:opacity .3s ease,width .24s ease, height .24s ease, margin .24s ease,z-index 0s .14s;
          }
        }
      }
    }
  }


  >.inner{
    text-align: center;
    padding: 36px 0;
    >svg{
      fill:$subtleFontColor2;
      vertical-align: middle;
    }
    >span{
      display: inline-block;
      font-size: $LargeFontSize;
      text-align: left;
      color:$subtleFontColor2;
      vertical-align: middle;
      padding: 0 0 0 17px;
    }
  }
}
