@import '../../styles/variables.scss';


.FirstSection{
  width:100%;
  height:574px;
  @include verticalCenter();
  background:#0E5869 url('./welcomebg.png') no-repeat fixed center;
  background-size:cover;
  overflow: hidden;
  >.inner {
    margin:auto;
    text-align:center;
    >.subtle{
      font-size:$bigFontSize;
      color:#CFCFCF;
      margin-bottom:7px;
    }
    >.main{
      font-size:$xLargeFontSize;
      color:white;
      margin:0 0 0 36px;
    }
    >button{
      color:#F2F2F2;
      border-color:#F2F2F2;
    }
  }
}



.SecondSection{
  height:560px;
  text-align: center;
  padding-bottom:42px;
  >header{
    margin-top:84px;
    >svg{
      width:34px;
      height:auto;
      fill:$subtleFontColor;
    }
    >h2{
      font-size:$LargeFontSize;
      color:$boldFontColor;
      margin:0;
    }
    >p{
      color:$subtleFontColor2;
      margin:5px 0;
    }
  }
  >main{
    margin:84px 0;
    font-size:$xLargeFontSize;
  }
}

.ThirdSection{
  height:380px;
  background-color:$mainColor;
  position:relative;
  padding:24px 0;
  >svg{
    width: 100%;
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    fill: $mainColor;
  }
  >.inner {
    @include maxWidth();
    position: relative;
    height:100%;
    padding:0 24px;
    >svg{
      width:232px;
      fill:$subtleFontColor1;
      position:absolute;
      bottom:32%;
      left:11%;
      z-index:0;
    }

    >.left {
      float: left;
      width: 50%;

      >.minor{
        font-size:$LargeFontSize;
        color:$subtleFontColor2;
        margin:11px 0;
      }
      >.huge{
        font-size:$xLargeFontSize;
        color:$boldFontColor;
        margin:0;
        line-height: 1;
      }
      >.more{
        max-width:80%;
        margin:90px 0 0 0;
        color:$subtleFontColor2;
      }
    }
    >.right{
      float:right;
      width:50%;
      >.regForm {
        margin: 0 auto;
      }

    }
  }
}
