@import '../../styles/variables.scss';

.homePage {
  .FirstSection {
    width: 100%;
    min-height: 574px;
    @include verticalCenter();
    background: #0E5869 url('./welcomebg.png') no-repeat fixed center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    > .inner {
      margin: auto;
      text-align: center;

      > .subtle {
        font-size: $bigFontSize;
        color: #CFCFCF;
        margin-bottom: 7px;
        @include customFont();
      }
      > .main {
        font-size: $xLargeFontSize;
        color: white;
        margin: 0 0 0 36px;
      }
      > button {
        color: #F2F2F2;
        border-color: #F2F2F2;
        transition: color .2s ease, border-color .2s ease;
        &.opened{
          color:$fontColor;
          border-color:$fontColor;
        }
      }
      > .how {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $secondaryColor;
        transform: translate3d(0, -100%, 0);
        visibility: hidden;
        transition: visibility 0s .35s, transform .35s $normalTiming;
        @include verticalCenter();

        > .inner {
          @include maxWidth();
          > li {
            width: 33%;
            display: inline;
            margin: 0 30px;
            > h2 {
              font-size: $xxLargeFontSize;
              display: inline-block;
              padding: 0 17px 0 0;
              vertical-align: middle;
              margin: 0;
              line-height: 1;
              position: relative;
              &:after {
                content: '';
                width: 5px;
                background: $thirdColor;
                display: inline-block;
                margin: 0 0 0 22px;
                height: 38px;
              }
            }
            > p {
              display: inline-block;
              width: 160px;
              vertical-align: middle;
            }
          }

        }
        &.active {
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: transform .35s $normalTiming;
        }
      }
    }
  }

  .SecondSection {
    min-height: 560px;
    text-align: center;
    padding-bottom: 72px;
    > header {
      margin-top: 84px;
      > svg {
        width: 34px;
        height: auto;
        fill: $subtleFontColor;
      }
      > h2 {
        font-size: $LargeFontSize;
        color: $boldFontColor;
        margin: 0;
        @include customFont();
      }
      > p {
        color: $subtleFontColor2;
        margin: 5px 0;
      }
    }
    > main {
      margin: 36px 0;
      >.itemShowcase{
        margin:0 auto;
      }
      >span {
        font-size: $xLargeFontSize;
        color: $subtleFontColor1;
      }
    }
    > button {
      @include customFont();
      font-size: $bigFontSize;

    }
  }

  .ThirdSection {
    height: 380px;
    background-color: $mainColor;
    position: relative;
    padding: 24px 0;
    > svg {
      width: 100%;
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      fill: $mainColor;
      pointer-events: none;
    }
    > .inner {
      @include maxWidth();
      position: relative;
      height: 100%;
      padding: 0 24px;
      > svg {
        width: 232px;
        fill: $subtleFontColor1;
        position: absolute;
        bottom: 32%;
        left: 11%;
        z-index: 0;
        pointer-events: none;
      }

      > .left {
        float: left;
        width: 50%;
        position: relative;
        > .minor {
          font-size: $LargeFontSize;
          color: $subtleFontColor2;
          margin: 11px 0;
          @include customFont();
        }
        > .huge {
          font-size: $xLargeFontSize;
          color: #fff;
          margin: 0;
          line-height: 1.18;
          @include customFont();
        }
        > .more {
          max-width: 80%;
          margin: 90px 0 0 0;
          color: $subtleFontColor2;
        }
      }
      > .right {
        float: right;
        width: 50%;
        > .container {
          margin: 0 auto;
          .regForm {
            margin: 0 auto;
          }
        }

      }
    }
  }

  footer{
    height:340px;
    background:$footerBg url('./footerbg.svg') repeat-x;
    color:#D8D8D8;
    padding:24px;
    >.inner{
        height:100%;
        position:relative;
        @include maxWidth();
      h3{
        font-size:$bigFontSize;
        padding-bottom:9px;
        border-bottom:1px solid rgba(#D8D8D8,.8);
        max-width:200px;
      }

      .qr{
        width:170px;
        height:auto;
        border-radius:9px;

      }

      >.left{
        float:left;
        padding:0 120px 0 0;
      }

      >.right{
        float:right;
        padding:0 0 0 0;
      }
      >.copyright{
        position:absolute;
        right:0;
        bottom:0;
      }
    }
  }
}
