@import '../../styles/variables.scss';

.homePage {
  animation:entering .3s ease;
  .FirstSection {
    width: 100%;
    height: 574px;
    @include verticalCenter();
    background: #0E5869 url('./welcomebg.jpg') no-repeat  center;
    background-size: cover;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: $point) {
      height:600px;
      > div.inner {
        padding: 24px;
        >.InputLarge,>.InputLarge>input{
          width:100%;
        }
        > .how > .inner {
          padding: 24px;


          > li {

            display: block;
            width: 100%;
            margin: 12px auto;
            h2 {
              display: none;
            }
            p {

              width: 100%;
              text-align: center;
            }

          }
          > .buyer {
            margin: 0 0 12px 0;
            h2 {
              padding: 12px 0 0 0;
              border-top: none;

            }
          }
        }
      }
    }
    > .inner {
      margin: auto;
      text-align: center;

      > .subtle {
        font-size: $bigFontSize;
        color: #EFEFEF;
        margin-bottom: 7px;
        @include customFont();
        font-weight: normal;
      }
      > .main {
        font-size: $xLargeFontSize;
        color: white;
        margin: 0 0 0 36px;
        @include customFont();
        font-weight: normal;
      }
      > button {
        color: #F2F2F2;
        border-color: #F2F2F2;
        transition: color .2s ease, border-color .2s ease;
        &.opened{
          color:$fontColor;
          border-color:$fontColor;
          z-index:2;
        }
      }
      > .how {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $secondaryColor;
        transform: translate3d(0, -100%, 0);
        visibility: hidden;
        transition: visibility 0s .35s, transform .35s $normalTiming;
        width: 100%;
        height: 100%;
        min-height: 574px;
        z-index: 1;
        @include verticalCenter();

        > .inner {
          @include maxWidth();
          >.buyer{
            margin: 48px auto 60px;
            display: block;
            clear: both;
            h2{
              padding: 48px 12px 0;
              border-top:1px solid $thirdColor;
              display:inline-block;
              margin: 0;
            }
          }
          > li {
            width: 33%;
            display: inline;
            margin: 0 30px;
            > h2 {
              font-size: $xLargeFontSize;
              display: inline-block;
              padding: 0 17px 0 0;
              vertical-align: middle;
              margin: 0;
              line-height: 1;
              &:after {
                content: '';
                width: 4px;
                background: $thirdColor;
                display: inline-block;
                margin: 0 0 0 22px;
                height: 26px;
                vertical-align: middle;
              }
            }
            > p {
              display: inline-block;
              width: 160px;
              vertical-align: middle;
              text-align: left;
              margin: 0;
              padding: 0;
            }
          }

        }
        &.active {
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: transform .35s $normalTiming;
        }
      }
    }
  }

  .SecondSection {
    text-align: center;
    padding-bottom: 72px;
    > header {
      margin-top: 84px;
      > svg {
        width: 34px;
        height: 35px;
        margin:0 0 6px 0;
        fill: $subtleFontColor;
      }
      > h2 {
        font-size: $LargeFontSize;
        color: $fontColor1;
        margin: 0;
        @include customFont();
      }
      > p {
        color: $subtleFontColor2;
        margin: 5px auto 14px;
      }
    }
    > main {
      margin: 36px 0;
      @include maxWidth();
      .failure {
        margin: 64px auto;
      }

      >span {
        font-size: $xLargeFontSize;
        color: $subtleFontColor1;
      }
    }
    > button {
      @include customFont();
      font-size: $bigFontSize;
      margin: 24px 0 0 0;

    }
  }

  .ThirdSection {
    height: 500px;
    background-color: $mainColorTint;
    position: relative;
    padding: 24px 0;

    @media only screen and (max-width: $pointSectionMinor) {
      height:auto;

      >div.inner {
        > .left {
          float: none;
          width: 100%;
          text-align: center;
          margin: 24px auto;
          > .more {
            max-width: 100%;
          }
        }
        >svg{
          top:0;
        }
        >.right {
          float: none;
          width: 100%;
          margin: 24px auto;
        }
      }
    }

    > svg {
      width: 100%;
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;
      fill: $mainColorTint;
      pointer-events: none;
    }
    > .inner {
      @include maxWidth();
      position: relative;
      height: 100%;
      padding: 0 24px;
      > svg {
        width: 232px;
        fill: $subtleFontColor1;
        position: absolute;
        bottom: 32%;
        left: 11%;
        z-index: 0;
        pointer-events: none;
      }

      > .left {
        float: left;
        width: 50%;
        padding: 24px 0 0 0;
        position: relative;
        > .minor {
          font-size: $LargeFontSize;
          color: $fontColor2;
          margin: 11px 0;
          @include customFont();
        }
        > .huge {
          font-size: $xLargeFontSize;
          margin: 0;
          line-height: 1.18;
          @include customFont();
        }
        > .more {
          max-width: 81%;
          margin: 21px 0 0;
          color: $subtleFontColor2;
        }
      }
      > .right {
        float: right;
        width: 50%;
        > .container {
          margin: 0 auto;
          .regForm {
            margin: 0 auto;
          }
        }

      }
    }
  }

  footer{
    height:340px;
    background:$footerBg url('./footerbg.svg') repeat-x;
    color:#D8D8D8;
    border-top: 1px solid #696;

    @media only screen and (max-width: $pointSectionMinor) {
      height:auto;
      >div.inner {
        > .left, > .leftOne, > .right {
          display: block;
          width: 100%;
          text-align: center;
          margin:32px auto;
          >h3{
            max-width:100%;
          }
        }
      }

    }

    >.inner{
        height:100%;
        position:relative;
        @include maxWidth();
        padding:24px;
      h3{
        font-size:$bigFontSize;
        padding-bottom:9px;
        border-bottom:1px solid rgba(#D8D8D8,.8);
        max-width:200px;
      }

      .qr{
        width:170px;
        height:auto;
        border-radius:9px;

      }

      >.left,>.leftOne,>.right{
        display: inline-block;
        vertical-align: top;
        width:46%;
        padding:0;
      }
      >.leftOne{
        width:33%
      }
      >.right{
        width:20%;
      }
      >.copyright{
        position:absolute;
        right:24px;
        bottom:12px;
        color:$fontColor2;
      }
    }
  }
}
