@import '../../styles/variables.scss';

$briefHeight:260px;
$briefPadding:48px;
$controlsWidth:340px;
.itemDetailPage {
  padding:$bannerHeight 0;
  >.brief{

    width:100%;
    height:$briefHeight;
    background:$fontColor;
    color:#fff;
    >.inner{
      @include maxWidth;
      padding:$briefPadding 0 $briefPadding 12px;
      >img{
        margin:0 auto;
        display:block;
      }
      >.words {
        width: 1024px - $controlsWidth - 24px;
        padding-right:24px;
        display: inline-block;
        float: left;
        > .itemName {
          margin: 0;
          font-size: $LargeFontSize - 2px;
          max-height: 70px;
          @include textClip();

        }
        > .price {
          color: $mainColor;
          font-size: $xxLargeFontSize;
          margin: 7px 0 0;
        }
      }
      >.amounts{
        float:right;
        font-size:$bigFontSize;
        padding:0 13px 0 0;
        color:rgba(#fff,.8);
        >.title{
          margin:0 12px 6px 0;
        }
      }
      >.controls{

        &.isScrolled{
          position: fixed;
          top: 45px;
        }
        color:$fontColor;
        display: inline-block;
        width:340px;
        height:$briefHeight - $briefPadding*2;
        background:$secondaryColorTint;
        border-radius:$borderRadius;
        box-shadow:0 2px 4px $subtleFontColor2;
        padding:24px;

        margin:24px 0 0 0 ;
        >.off{
          text-align: center;
          margin: 44px 0 0 0;
        }
        .title{
          display:block;
          color:$subtleFontColor2;
          margin:0 0 5px;
        }
        >.amount{
          display: inline-block;
          vertical-align: top;
          width:40%;
        }
        >.totalPrice{
          display: inline-block;
          vertical-align: top;
          width:40%;
          margin:0 0 0 20%;
          >p{
            font-size:$bigFontSize;
            margin: 0;
          }
        }
        >.ButtonNormal{
          margin: 24px 0 0 0;
          width: 100%;
          background:$secondaryColor;
          border:none;
        }
      }
    }
  }
  >.inner{
    @include maxWidth();
    >.loading{
      display:block;
      margin:auto;
    }
    >main{
      width: 1024px - $controlsWidth;
      padding:0 48px 0 0;
      display: inline-block;
      vertical-align: top;
      h2{
        font-size:$LargeFontSize;
        color:$boldFontColor;
      }
      >.gallery{
        margin-top:-29px;
        >img{
          height:230px;
          width:auto;
          max-width:230px;
          box-shadow:0 1px 3px $subtleFontColor2;
          margin:0 12px 12px 0;
          min-width: 130px;
          background: #fff;
        }
      }
      >.detail{
        margin:30px 0 0 0;
      }
      >.seller{
        margin:42px 0 0 0;
        >.info{
          >img{
            display:inline-block;
            width:50px;
            height:50px;
            border-radius:50%;
            border:1px solid $subtleFontColor2;
            vertical-align:middle;
            margin: 0 12px 0 0;
          }
          >p{
            display:inline-block;
            vertical-align:middle;
          }
        }
      }

    }
    >.side{
      display: inline-block;
      vertical-align: top;
      width: $controlsWidth;
      padding:32px 0 0 0;
      color:$subtleFontColor;
    }
  }
}
