@import '../../styles/variables.scss';

$briefHeight:260px;
$briefPadding:48px;
$controlsWidth:340px;

$secondBgColor: #FEFEFE;
$borderColor: #EFEFEF;
$secondBgColor: #FCFCFC;

$sellerHeight: 100px;

.itemDetailPage {
  animation:entering .3s ease;
  padding:0 0 $sellerHeight + $bannerHeight 0;
  min-height: 100vh;
  position: relative;
  >.brief{
    width:100%;
    height:$briefHeight + $bannerHeight;
    background:$secondBgColor;
    color:$fontColor;
    padding:$bannerHeight 0 0 0;
    border-bottom: 1px solid $borderColor;
    position:relative;
    >.inner{
      @include maxWidth;
      padding:$briefPadding 0 $briefPadding 12px;
      >img{
        margin:0 auto;
        display:block;
      }
      >.words {
        width: 1024px - $controlsWidth - 24px;
        padding-right:24px;
        display: block;
        float: left;
        position:absolute;
        bottom:48px;
        >.ButtonNormal{
          margin:6px 0 0 0;
        }
        > .itemName {
          margin: 0;
          font-size: $LargeFontSize - 2px;
          max-height: 70px;
          @include textClip();

        }
        > .price {
          color: $mainColor;
          font-size: $xxLargeFontSize;
          margin: 0;
        }
      }
      >.controls{
        &.isScrolled{
          position: fixed;
          top: 90px;
        }
        color:$fontColor1;
        display: block;
        width:340px;
        height:$briefHeight - $briefPadding*2;
        background:#FFF;
        border-radius:$borderRadius;
        box-shadow:0 1px 2px $subtleFontColor2;
        border:1px solid $borderColor;
        padding:24px;
        margin:0 0 0 1024px - $controlsWidth - 12px ;

        >.off{
          text-align: center;
          margin: 44px 0 0 0;
        }
        .title{
          display:block;
          color:$subtleFontColor2;
          margin:0 0 5px;
        }
        >.amount{
          display: inline-block;
          vertical-align: top;
          width:40%;
        }
        >.totalPrice{
          display: inline-block;
          vertical-align: top;
          width:40%;
          margin:0 0 0 20%;
          >p{
            font-size:$bigFontSize;
            margin: 0;
          }
        }
        >.ButtonNormal{
          margin: 24px 0 0 0;
          width: 100%;
          background:$secondaryColor;
          border:none;
        }
      }
    }
  }

  main{
    padding:17px 48px 0 0;
    display: inline-block;
    vertical-align: top;
    width:100%;
    >.inner{
      padding:0 340px 0 0;
      @include maxWidth();
      margin:auto;
      >.loading{
        display:block;
        margin:auto;
      }

      h2{
        font-size:$bigFontSize;
      }
      >.gallery{
        width:1024px - $controlsWidth - 12px;
        margin-top:29px;
        >img{
          height:230px;
          width:auto;
          max-width:230px;
          box-shadow:0 1px 3px $subtleFontColor2;
          margin:0 12px 12px 0;
          min-width: 130px;
          background: #fff;
        }
      }

      >.brief{
        padding:32px 0;
        >li{
          margin:0 70px 0 0;
          display:inline-block;
          svg{
            height:38px;
            max-width:40px;
            fill:$fontColor2;
            display: inline-block;
            margin:0 9px 0 0;
          }
          >.words{
            display:inline-block;
            >p{
              margin:0;
              &.title{
                color:$fontColor2;
              }
              &.value{
                color:$fontColor1;
              }
            }
          }

        }
      }

      >.detail{
        position:relative;
        padding:24px 0 0 24px;
        color:$fontColor1;
        >.quote{
          font-size:$xxLargeFontSize;
          position:absolute;
          color:$mainColorTint;
          top: 0;
          left: 0;
          margin: 0;
          font-family:$headingFontFamilyChn;
        }
      }

    }
  }
  .seller{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:0;
    height: $sellerHeight;
    background: $secondBgColor;
    border-top:1px solid $borderColor;
    >.inner {
      @include maxWidth();
      @include clearfix();
      padding: 24px 0;
      > .info {
        float:left;
        > img {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid $subtleFontColor2;
          vertical-align: middle;
          margin: 0 12px 0 0;
          overflow: hidden;
        }
        >.words{
          display:inline-block;
          vertical-align: middle;

          > p {
            &.user{
              font-size:$bigFontSize;
              margin:0;
              color:$fontColor1

            }
            &.subtle{
              color: $fontColor2;
              margin:0;

            }
          }
        }

      }
      >.share{
        float:right;
        >span{
          display:inline-block;
          vertical-align: middle;
          margin: 0 12px 0 0;
        }
        >ul{
          display:inline-block;
          vertical-align: middle;
          margin: 0;

          >li{
            width:28px;
            height:28px;
            display: inline-block;
            margin:0 18px 0 0;
            cursor:pointer;
            >svg{
              >path {
                transition: fill .23s ease;
              }
            }
            &:hover{
              >svg{
                >path {
                  fill: $thirdColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
