@import '../../styles/variables.scss';


.cartListItem{
  position: relative;
  min-width:930px;
  >  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border:1px solid $subtleFontColor2;
    overflow: hidden;
    cursor:pointer;
  }
  >section{
    display:inline-block;
    vertical-align: middle;
    margin-left: 3%;
    width: 18%;
    &.small{
      width:14%;
    }
    &.big{
      width:20%;
      cursor:pointer;
    }
    >span{
      display:block;
      color:$subtleFontColor2;
    }
    >.counter{
      margin: 7px 0 0 0;
    }
    >p{
      margin:6px 0 0 0;
      max-height:23px;
      font-size:$bigFontSize;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  >.controls {
    position: absolute;
    right: 0;
    top: 44px;
    > .ButtonNormal {
      color: $subtleFontColor2;
      border: none;
      font-size: $fontSize -2px;
      &.caution{
        color:$thirdColor;
      }
      >span{
        padding:0 12px 0 0;
      }
      &:after{
        padding:0 12px 0 0;
      }

    }
  }
}
