
@import '../../styles/variables.scss';

$cart-dropdown-margin-top: 85px;

@keyframes green-nav-dropdown
{
  0%   {margin-top: 0px;}
  100% {margin-top: 85px;}
}


.cart-page-main-container {
  margin-top: 85px;
  padding-top: 0;
  background: rgba(33, 33, 33, 0.2);
  min-height: 1024px;
  animation: green-nav-dropdown 1s;
  -moz-animation: green-nav-dropdown 1s;	/* Firefox */
  -webkit-animation: green-nav-dropdown 1s;	/* Safari 和 Chrome */
  -o-animation: green-nav-dropdown 1s;	/* Opera */
}

.green-nav {
  background: $mainColor;
  float: left;
  min-height: $green-bar-height;
  min-width: 100%;
  margin-top: 0;
}

.cart-page-cart-container {
  padding: auto;
  margin: auto;
  position: relative;
  float: right;
  display: block;
  min-width: 125px;
  min-height: $green-bar-height;
  vertical-align: middle;
  cursor: pointer;
}

.cart-page-cart-container:hover{
  background: $mainColor - rgb(10, 10, 10);
}

.cart-page-cart-icon {
  margin-top: 7px;
  margin-left: 15px;
  position: relative;
  float: left;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  height: 45px;
}

.cart-page-cart-num {
  float: right;
  margin-right: 32px;
  margin-top: 18px;
  font-size: $bigFontSize + 3px;
}

.gouwuche-title {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 35px;
  margin-left: 42px;
  vertical-align: middle;
  line-height: $green-bar-height;
}

.cart-list-main-container {
  display: table;
  min-width: 1280px;
  min-height: 560px;
  background: rgba(white, 0.7);
  padding: 0px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;

  border-left: rgba(33, 33, 33, 0.2) 2px solid;
  border-right: rgba(33, 33, 33, 0.2) 2px solid;
  border-bottom: rgba(33, 33, 33, 0.2) 2px solid;
  ul {

  }
}

.cart-list-item-container {
  display: block;
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  min-height: 140px;
  background: rgba(white, 0.9);
  padding-bottom: 35px;

  img {
    float: left;
    margin-left: 35px;
    margin-top: 25px;
    width: 95px;
    height: 95px;
    border-radius: 85px;
  }
}

.cart-list-item-simple-info {
  display: block;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
  width: 190px;
}

.item-price-text {
  font-size: 21px;
}

.cart-list-item-others {
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  width: 90px;
}

.delete-item {
  margin-top: 35px;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
}

.lastItem {
  // 购物车中最后一项物品底部加边框~~~
  border-bottom: rgba(33, 33, 33, 0.2) 2px solid;
}

.btn-plus {
  float: left;
  width: 32px;
  height: 35px;
  background: $mainColor;
  border: none;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: white;
  font-size: 18px;
}

.btn-minus {
  float: left;
  width: 32px;
  height: 35px;
  background: $mainColor;
  border: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  color: white;
  font-size: 18px;
}

.input-number {
  float: left;
  width: 32px;
  height: 29px;
  text-align: center;

}
