
@import '../../styles/variables.scss';

.cart-page-main-container {
  margin-top: -20px;
  padding-top: 0;
}

.green-nav {
  background: $mainColor;
  float: left;
  min-height: $green-bar-height;
  min-width: 100%;
  margin-top: 0;
}

.cart-page-cart-container {
  padding: auto;
  margin: auto;
  position: relative;
  float: right;
  display: block;
  min-width: 125px;
  min-height: $green-bar-height;
  vertical-align: middle;
  cursor: pointer;
}

.cart-page-cart-container:hover{
  background: $mainColor - rgb(10, 10, 10);
}

.cart-page-cart-icon {
  margin-top: 7px;
  margin-left: 15px;
  position: relative;
  float: left;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  height: 45px;
}

.cart-page-cart-num {
  float: right;
  margin-right: 32px;
  margin-top: 18px;
  font-size: $bigFontSize + 3px;
}
