<!doctype html>
<html class="no-js" lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>清风</title>
    <meta name="description" content="清风 - 最方便的校园二手物品交易平台">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#53DAB0">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#53DAB0">
    <!--[if IE 9]>
      <script src="html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="react">
      <div class="table">
        <p class="logo">清风</p>
        <!--[if lt IE 9]>
        <p class="browserupgrade"><a href="http://browsehappy.com/"> o(￣ヘ￣o＃) 还在用老版本IE？清风不再支持老浏览器了~<br/>为了保证您的安全和浏览体验，点我升级您的浏览器吧！</a>
        <br/>如果你不幸是360浏览器的用户。(;￢д￢) <a href="http://chrome.360.cn/">可以升级到360浏览器的最新版</a>
        </p>
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <img src="facebook.svg">
        <p class="loading">请稍等，精彩马上呈现</p>
        <!--<![endif]-->
      </div>
    </div>
    <script src="vendor.js"></script>
    <script src="app.js"></script>
  </body>
</html>
