<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>清风</title>
    <meta name="description" content="清风 - 最方便的校园二手物品交易平台">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div id="react">
      <div class="table">
        <!--[if lt IE 8]>
        <p class="browserupgrade"><a href="http://browsehappy.com/">您好！您正在使用一款过时的浏览器！清风不再支持老浏览器了，为了保证您的安全和浏览体验，点我升级您的浏览器吧！</a></p>
        <![endif]-->
        <p class="logo">清风</p>
        <img src="facebook.svg">
        <p class="loading">请稍等，精彩马上呈现</p>
      </div>
    </div>
    <script src="vendor.js"></script>
    <script src="app.js"></script>
  </body>
</html>
