<!doctype html>
<html class="no-js" lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>找回密码 - 清风</title>
    <meta name="description" content="清风">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/Public/apple-touch-icon.png">
    <link rel="stylesheet" href="/Public/normalize.css">
    <link rel="stylesheet" href="/Public/main.css">
    <style>
      input,button{
        display:block;
        margin:6px auto;
        width:180px;
      }
      input{
        border:1px solid black;
        padding:12px;
      }
      button{
        background:none;
        border:1px solid black;
        padding:12px;
      }
    </style>
  </head>
  <body>
    <div id="react">
      <div class="table">
        <h1>找回密码</h1>
        <input type="password" id="newPassword" placeholder="新密码" value=""/>
        <input type="password" id="oldPassword" placeholder="确认密码" value=""/>
        <button id="submit">确定</button>
        <p id="info"></p>
      </div>
    </div>

    <script>
    var info=document.getElementById('info');
    var button=document.getElementById('submit');
    button.onclick = function(){
      if(button.innerHTML!=='提交中...'){
        var oldp = document.getElementById('oldPassword').value;
        var newp = document.getElementById('newPassword').value;
        if(oldp!==newp){
          info.innerHTML='两次密码不相同，请检查';
          return;
        }
        button.innerHTML='提交中...';
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST",'/index.php/Home/Modify.json');
        xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        xmlHttp.send({newWord:newp});
        xmlHttp.onreadystatechange=function(){
          if(xmlHttp.readyState==4&&xmlHttp.status==200){
            var data=JSON.Parse(xmlHttp.responseText);
            if(data.Code===0){
              info.innerHTML='修改密码成功';
            }
            else{
              info.innerHTML=data.Msg;
            }
          }
          else{
            info.innerHTML='网络错误';
          }
          button.innerHTML='确定';
        }
      }
    }
    </script>
  </body>
</html>
