@import '../../styles/variables.scss';

div.imageChooser{
  >input{
    display: none;
  }
  >label{
    pointer-events: auto;
    position: relative;
    top:auto;
    left:auto;
    height:69px;
    width:69px;
    border:1px solid grey;
    display: inline-block;
    text-align:center;
    line-height:63px;
    font-size:34px;
    cursor:pointer;
    padding:0;
    border-radius: $borderRadius;
    float:left;
    overflow: hidden;
    >img{
      width:100%;
      height:100%;
    }
  }



}

