@import '../../styles/variables.scss';

.orderItem{


  .ButtonNormal.cancel{
    border:none;
    color:white;
    float: right;
    margin: 20px 22px 0 0;
    >span,&:after{
      padding:0;
    }
  }


}
