@import '../../styles/variables.scss';

.orderItem{
  animation:entering .3s ease;

  .ButtonNormal.cancel{
    border:none;
    color:white;
    border-bottom: 1px dotted white;
    border-radius: 0;
    >span,&:after{
      padding:0;
    }
  }


}
