@import '../../styles/variables.scss';

.regForm{
  text-align:center;
  max-width:320px;
  min-width: 280px;
  >span{
    height:16px;
    display:block;

  }
  >h3{
    font-size:$bigFontSize;
  }
  >.InputNormal{
    margin:9px 0;

  }
  >.ButtonNormal{

    width:100%;
    background:$fontColor;
    color:#fff;
  }
}
