@import '../../styles/variables.scss';

.regForm{
  text-align:center;
  min-width: 328px;
  .center{
    text-align:center;
    margin-top:34px;
    >a>img{
      height:50px;
      width:50px;
      border-radius:50%;
      box-shadow:0 0 1px rgba(0,0,0,.4);
    }
    >p{
      font-size:$bigFontSize;
    }
    >.ButtonNormal{
      line-height: 1.18;
      @include customFont();
      color:$boldFontColor;
    }
  }
  >span{
    height:16px;
    display:block;

  }
  >h3{
    font-size:$bigFontSize;
  }
  >.inputEffect{
    margin:34px 0;



    >.verify{
      position: absolute;
      right: 2px;
      bottom: 2px;
      border-radius: 9px;
      cursor: pointer;
    }
  }
  >.ButtonNormal{

    width:100%;
    background:$fontColor;
    color:#fff;

    &.minor{
      background:none;
      border:none;
      color:$subtleFontColor2;
      margin:9px 0 0 0;
    }
  }
}
