@import './variables.scss';
/*

  适合所有网页的全局scss写在这里
  例如页面背景，字体……
  在载入js前就将显示
*/


/*
 *  载入界面！
 *
**/
#react {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
  .logo{
    font-size:$LargeFontSize;
  }
  .table {
    display: table-cell;
    vertical-align: middle;
  }
  .browserupgrade {
    max-width: 50%;
    margin:0 auto 24px;
    padding:12px;
    box-shadow:0 0 3px rgba(0,0,0,.6);

  }
  .loading{
    font-size:$bigFontSize;
    color:$subtleFontColor
  }
}


/*
  typo
*/

@font-face {
  font-family: qf;
  src: url('./ShangYa.woff');
}

html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: inherit; }

body{
  background:$bgColor;
  font:14px $normalFontFamilyEng,$normalFontFamilyChn;
  color:$fontColor;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  font-family:$headingFontFamilyEng,$headingFontFamilyChn;
}
ul{
  list-style-type:none ;
  padding:0;
}

a{
  text-decoration: none;
  color:$fontColor;
  cursor:pointer;
}
