/*
    Typography!!!

*/
$normalFontFamilyEng: Helvetica Neue, Segoe UI, Helvetica, Arial;
$normalFontFamilyChn: 'Hiragino Sans GB','STHeiti SC Light','Microsoft YaHei Light','Microsoft YaHei','STHeiti SC', serif;
$headingFontFamilyEng: 'Lucida Bright', Georgia, Times, 'Times New Roman';
$headingFontFamilyChn: 'Songti SC','STHeiti SC','STZhongsong','Heiti','Microsoft YaHei','Heiti',san-serif;
$headingCustomFamily: 'qf';



/*
    颜色颜色颜色
*/

$fontColor: #4A4A4A;      //字体色
$fontColor1: #5C5C5C;      //字体色
$fontColor2: #7B7B7B;      //字体色
$fontColor3: #9C9C9C;      //字体色


$boldFontColor :#404040;     //某些heading字体颜色
$subtleFontColor :rgba(0,0,0,.25);
$subtleFontColor1 :rgba(0,0,0,.1);
$subtleFontColor2 :rgba(0,0,0,.42);

$mainColor: #53DAB0;      //主要颜色、按钮、背景等
$mainColorTint: #50E3C2;
$secondaryColor: #FBE2AC; //次要颜色、按钮等
$thirdColor : #EE7D79;    //第三颜色 用来修饰网页，增加趣味性
$secondaryColorTint :#FEFEF3;

$bgColor: #FDFCFA;        //背景色
$cardBgColor: #FFF;        //物品卡片背景

$bannerBg :#fff;          //顶条背景色
$inputBg: rgba(255,255,255,.8);
$footerBg : #363636;

/*
    像素清晰可见
*/
$fontSize:14px;
$bigFontSize:18px;
$LargeFontSize:26px;
$xLargeFontSize:36px;
$xxLargeFontSize:64px;

$pageMaxWidth : 1024px;       //页面最大宽度
$borderRadius :9px;           //圆角
$borderProperty :1px solid rgba(48,48,48,.3);   //边框格式

$bannerHeight :84px;        //顶栏高
$inputHeight:40px;          //输入框高度


/*
    来一段动画
*/
$bounceTiming: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$normalTiming: cubic-bezier(.87,.35,.49,.92);


/*
    Break points
*/
//normal bp
$point: 1030px;
//heade bp
$pointHeader: 988px;
$pointSectionMinor: 821px;
$pointModal: 660px;
$pointCards: 800px;

$pointPhone: 366px;
$pointDetail: 650px;
$pointSellForm: 1020px;
/*
    各种方法
*/

@mixin textClip(){
  overflow: hidden;
  text-overflow: ellipsis;
}
//  white-space: nowrap;


@mixin customFont(){
  font-family : $headingCustomFamily, $headingFontFamilyEng, $headingFontFamilyChn;
}

//debug
//定义display:block元素宽度并局中
@mixin maxWidth() {
  max-width:$pageMaxWidth;
  margin:0 auto;
  width:100%;
  max-width:1024px;

}
//width:$pageMaxWidth;

//普通元素加一个阴影提供视觉上的突出
@mixin dropShadow(){
  box-shadow: 0 0 3px rgba(0,0,0,.5);
}

//普通transition
@mixin normalTransition($transition){
  transition:$transition .3s ease-in;
}

//竖直方向剧中
@mixin verticalCenter(){

  display:table;
  >.inner{
    display:table-cell;
    vertical-align: middle;
  }
}
@mixin verticalCenter1(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
//(flex way)
//display: flex;
//flex-direction: column;
//justify-content: center;


//增加transition-timing-func
@mixin transTimingBounce(){
  transition-timing-function: $bounceTiming;

}
@mixin transTimingNormal(){
  transition-timing-function: $normalTiming;

}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin buttonEffect1($padding:"",$amount:50%,$height:"",$timing:$bounceTiming){

  @mixin btnTrans(){
    transition:transform .3s $timing,opacity .3s $timing;
  }
  &:hover{
    &>span{
      opacity: 0;
      transform: translate3d(0, -$amount, 0);
    }
    &:after{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  &:active{
    transform:translate3d(0,1px,0);
  }
  &:focus{
    outline:none;
  }
  >span{
    @if($height!= "") {height:$height;line-height:$height;}
    @else {height:100%}
    @if($padding!= "") {padding: $padding;}
    @include btnTrans();
    display: inline-block;
    will-change: transform, opacity;
  }
  &:after{
    content: attr(data-text);
    position: absolute;
    @if($height!= "") {height:$height;line-height:$height;}
    @else {height:100%}
    @if($padding!= "") {padding: $padding;}

    width: 100%;

    top: 0;
    left: 0;
    opacity: 0;
    color: currentColor;
    transform: translate3d(0, $amount, 0);
    @include btnTrans();
    box-sizing: border-box;
  }
}

//normal cubic-bezier(0.2, 1, 0.3, 1)
//bounce cubic-bezier(0.68, -0.55, 0.265, 1.55);

$green-bar-height: 68px;
