@import '../../styles/variables.scss';
/*

  适合所有网页的全局scss写在这里
  例如页面背景，字体……
  由App.js加载
  此文件应该为最先写入<style>中的
*/


//TODO 修改字体
//test-align 仅用于测试
body{
  background:$bgColor;
  font:14px serif;
  color:$fontColor;
  text-align:center;
}

ul{
  list-style-type:none ;
  padding:0;
}

a{
  text-decoration: none;
  color:$fontColor

}
