@import '../../styles/variables.scss';

.dashboard{

  >.inner {
    @include maxWidth();
    padding:$bannerHeight + 36px 0 0 0;
    @include clearfix();
    >.left {
      position:fixed;
      width: 318px;
      background:white;
      border:1px solid $mainColorTint;
      border-radius: $borderRadius;
      padding: 24px;
      overflow-y: auto;
      max-height: calc(100% - 100px);
      >ul{
        overflow-y: auto;
        margin:0;
        >li{
          margin:0 0 42px 0;
          >.subtle{
            color:$subtleFontColor2;
            margin:0 0 7px 0;
          }
          >a{
            display: block;
            position:relative;
            z-index:1;
            font-size:$bigFontSize;
            color:$subtleFontColor2;
            clear:both;
            max-width: 120px;
            >span{
              display: inline-block;
              margin:3px 0 3px;
              padding:0 0 2px 0;

            }
            &.active{
              color:#000;

            }
          }
          >.controls{
            position:absolute;
            z-index:0;
            visibility: hidden;
            padding:0;
            opacity:0;
            transition:all .3s $bounceTiming;
            >.ButtonNormal{
              border:none;
              overflow: visible;
              display: block;
              color:rgba($fontColor,.8);
              >span, &:after{
                padding:3px;
              }
              &:before{
                visibility:hidden;
                content:'';
                left:-12px;
                top:9px;
                height:0;
                width:0;
                background:$mainColorTint;
                border-radius: 50%;
                position:absolute;
                box-shadow: 0 0 2px rgba(0,0,0,.9);
                transition: all .3s;
              }
              &.active{
                color:$fontColor;
                &:before{
                  visibility: visible;
                  height:7px;
                  width:7px;
                }

              }
            }
          }
          >a.active + .controls{
            visibility:visible;
            box-shadow: 0 -2px $mainColor;
            padding:9px 12px 0 183px;
            opacity:1;
          }
        }


      }
    }

    >.right{
      padding-left: 360px;
    }


  }

}
