@import '../../styles/variables.scss';


.ButtonNormal{
  border:$borderProperty;
  border-radius: $borderRadius;
  background:none;
  overflow: hidden;
  padding: 0;
  position:relative;
  transition:background .3s $normalTiming,border .3s $normalTiming;

  @include buttonEffect1(7px 28px);

}
