@import '../../styles/variables.scss';


@mixin daPadding(){
  padding:7px 28px;
}
@mixin trans(){
  transition:transform .3s $bounceTiming,opacity .3s $normalTiming;
}
.ButtonNormal{
  border:$borderProperty;
  border-radius: $borderRadius;
  background:none;
  overflow: hidden;
  padding: 0;
  position:relative;
  transition:background .3s,border .3s;
  @include transTimingNormal();

  &:hover{
    background:rgba(0,0,0,.3);
    &>span{
      opacity: 0;
      transform: translate3d(0, -50%, 0);
    }
    &:after{
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &:focus{
    outline:none;
  }
  >span{
    @include daPadding();
    @include trans();

    display: block;
  }
  &:after{
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    @include daPadding();
    top: 0;
    left: 0;
    opacity: 0;
    color: currentColor;
    transform: translate3d(0, 50%, 0);
    @include trans();
    box-sizing: border-box;
  }
}
