@import '../../styles/variables.scss';

.modal{
  color:$fontColor;
  position:fixed;
  display:none;
  top:0;
  right:0;
  left:0;
  height: 100%;
  z-index:5;
  transition:background .3s $normalTiming;
  &.ready{
    display: flex;
  }
  &.active{
    background:rgba($bgColor,.8);
    >.inner{
      opacity:1;
      transform: translate3d(0,0,0);
    }
  }
  >.inner{
    margin:auto;
    opacity:0;
    transform:translate3d(0,-100%,0);
    transition:opacity .3s $normalTiming,transform .5s $bounceTiming;
    background:$secondaryColor;
    padding:46px;
    border-radius:0 0 9px 9px;
    position:relative;

    >.deco{
      content:'';
      background:url('./popupbg.svg');
      position:absolute;
      top: -19px;
      left: 0;
      right: 0;
      height: 19px;
      display: block;
    }
    >.close{
      position: absolute;
      right: 24px;
      top: 6px;
      stroke-width: 2px;
      cursor: pointer;
      >svg{
        transition:all .3s $normalTiming;
      }
      &:hover{
        stroke-width:5px;
      }
      &:active{
        >svg{
          transform:rotate(90deg);
        }
      }
    }
  }
}
