@import '../../styles/variables.scss';

.InputNormal {
  position:relative;
  > Input {
    border: $borderProperty;
    border-radius: $borderRadius;
    line-height: $inputHeight;
    height: $inputHeight;
    box-sizing: border-box;
    padding: 0 14px 0 38px;
    background:$inputBg;
    width: 100%;
    overflow: hidden;
    @include normalTransition(box-shadow);

    transition: all .3s $normalTiming;


    &:focus {
      outline: none;
      @include dropShadow();
      + .svgWrapper>svg{
        fill:$subtleFontColor2;
      }
    }


    &.invalid{
      border-color: $thirdColor;
      box-shadow:0 0 1px $thirdColor;
      animation: shake .3s $bounceTiming;

    }
  }

  >.svgWrapper {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    display: flex;
    >svg {
      margin:auto;
      max-height:24px;
      width:20px;
      height:auto;
      fill:$subtleFontColor;
      transition:fill .3s ease;
    }
  }


}

@keyframes shake {
  0%{
    transform: translate3d(-1%,0,0);
  }
  25%{
    transform: translate3d(1%,0,0);
  }
  50%{
    transform: translate3d(-1%,0,0);
  }
  75%{
    transform: translate3d(1%,0,0);
  }
  100%{
    transform: translate3d(-1%,0,0);
  }
}

