@import '../../styles/variables.scss';

.WordsFlasher{
  display: inline-block;
  width:200px;
  position:relative;
  vertical-align: top;
  >span{
    display:inline-block;

    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    &.active{
      opacity:1;
    }
  }
}
