@import '../../styles/variables.scss';
@mixin trans(){
  transition:transform .3s ease-out,opacity .3s ease-in-out;
}
.WordsFlasher{
  display: inline-block;
  width:190px;
  position:relative;
  vertical-align: top;

  >span>span{
    display:inline-block;

    opacity: 1;
    position: absolute;
    top:0;
    left:0;
    @include trans();
    &.wf-enter{
      opacity:0;
      transform: translate3d(0,-40%,0);

    }
    &.wf-enter.wf-enter-active{
      opacity:1;
      transform: translate3d(0,0,0);
      transition-delay: .15s;
    }
    &.wf-leave.wf-leave-active{
      opacity:0;
      transform: translate3d(0,40%,0);
    }

  }
}
