@import '../../styles/variables.scss';
@mixin trans(){
  transition:transform .3s ease-out,opacity .3s ease-in-out;
}
.wordsFlasher{
  display: inline-block;
  width:190px;
  position:relative;
  vertical-align: top;
  z-index:1;
  >span{
    display:inline-block;

    opacity: 0;
    position: absolute;
    top:0;
    left:0;
    will-change: transform, opacity;

    &.active{
      animation:wordsFlasher 3s $normalTiming;
    }
  }
}
@keyframes wordsFlasher {
  0%{
    opacity:0;
    transform: translate3d(0,-40%,0);
  }
  15%{
    opacity:1;
    transform: translate3d(0,0,0);
  }
  75%{
    opacity:1;
    transform: translate3d(0,0,0);
  }
  100%{
    opacity:0;
    transform: translate3d(0,40%,0);
  }
}
/*
for reactcsstransition
&.wf-enter{
      opacity:0;
      transform: translate3d(0,-40%,0);

    }
    &.wf-enter.wf-enter-active{
      opacity:1;
      transform: translate3d(0,0,0);
      transition-delay: .15s;
    }
    &.wf-leave.wf-leave-active{
      opacity:0;
      transform: translate3d(0,40%,0);
    }
*/
