@import '../../styles/variables.scss';

.feedback{
  position:fixed;
  bottom:34px;
  left:0;
  z-index:5;
  background:$mainColorTint;
  border-radius:0 20px 20px 0;
  box-shadow:0 0 3px $subtleFontColor2;
  >.ButtonNormal{
    border:none;
    color:white;
  }
  .inputEffect{
    margin:32px 0 17px;
  }
  textarea{
    width:470px;
    height:180px;
    background:rgba(255,255,255,.6);
    border-radius:$borderRadius;
    padding:17px 24px;
    border:none;
  }
  >.close{
    margin: 0 16px 0 0;
    height: 38px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transform:rotate(0deg);
    transition: transform .22s $bounceTiming;
    &:hover{
      transform:rotate(90deg);
    }
    &:active{
      transform:translate3d(0,1px,0);
    }
    >svg{
      height:100%;
      width:100%;
      stroke-width: 3;
      >g{
        stroke: #efefef;
      }
    }
  }


}
