@import '../../styles/variables.scss';
.itemShowcase{
  @include clearfix();
  >.bookCard{
    display:inline-block;
    margin:24px 12px 32px 6px;
    float:left;
  }
  .bookCard:nth-child(4n) {
    margin-right: 0;
  }
}
