@import '../../styles/variables.scss';
.itemShowcase{
  @include clearfix();
  >.bookCard{
    display:inline-block;
    margin:24px 12px 32px 6px;
    float:left;
  }
  .bookCard:nth-child(4n) {
    margin-right: 0;
  }
  @media only screen and (max-width: $point) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    >.bookCard{
      float:none;
    }
    .bookCard:nth-child(4n){
      margin-right: 12px;
    }

  }
  @media only screen and (max-width: $pointPhone) {
    >.bookCard {
      margin: 0 3px 24px 3px;
    }
    .bookCard:nth-child(4n){
      margin-right: 3px;
    }

  }
}
