@import '../../styles/variables.scss';

.InputLarge {
  margin: 98px 0;
  font-size: $bigFontSize;
  >Input {
    width: 492px;
    border: $borderProperty;
    border-radius: 4px;
    line-height: $inputHeight+9;
    height: $inputHeight+9;
    box-sizing: border-box;
    padding: 0 14px 0 46px;
    position:relative;
    @include normalTransition(box-shadow);

    &:focus {
      outline: none;
      @include dropShadow();
    }

    }
    >.svgWrapper{
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      width:42px;
      display: flex;
      >svg{
        margin: 0 0 0 18px;
        min-height:20px;
        min-width:18px;
        fill:$subtleFontColor2;
      }
  }
  &.btn{
    position:relative;
    >Input{
      padding-right:100px;
    }
    >button{
      position:absolute;
      right:0;
      top:0;
      bottom:0;
      border:none;
      background:$mainColor;
      color:white;
      padding:0 23px;
      border-radius: 4px;
    }

}
}
