@import '../../styles/variables.scss';

.sellPage{
  >.inner{
    @include maxWidth();
    margin-top:$bannerHeight;
    padding:24px;
    min-height:480px;
    @include verticalCenter();
    >.title{
      text-align:center;

      &.active{
        >svg{
          fill:$subtleFontColor2;
          width:80px;

        }
        >span{
          visibility:hidden;
          width:0;
          height:0;
        }
      }

      >svg{
        fill:$fontColor;
        transition:height .3s $normalTiming,width .3s $normalTiming,fill .3s ease;
      }

      >span{
        display: inline-block;
        text-align: left;
        font-size:$LargeFontSize;
        padding:6px 0 0 24px;
        vertical-align: top;
        transition:height .3s ,width .3s ,visibility 0s;
        >a>.ButtonNormal{
          font-size: 14px;
        }
      }
    }


    >.items{
      counter-reset: dacounter;
      .itemRegisterForm {
        &:before{
          content: counter(dacounter);
          counter-increment: dacounter;
          font-size: $bigFontSize;
          position:absolute;
          top:12px;
          left:48%;
          color: $bgColor;
          text-shadow: -1px -1px rgba(255,255,255,.3);
        }
        margin: 32px auto;
        transition: transform $normalTiming .18s, opacity $normalTiming .3s;
        &.t-enter {
          opacity: 0;
          transform: translate3d(-22%, 0, 0);
        }
        &.t-enter-active {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
        &.t-leave {
          &:hover > .close {
            opacity: 0;
            visibility: hidden;
          }
        }
        &.t-leave-active {
          transform: translate3d(22%, 0, 0);
          opacity: 0;

        }
      }

    }

    >.controls{
      margin:24px auto 0;
      >.ButtonNormal{
        margin: 0 21px 0 0;
        >span{
          padding: 7px 56px;
        }
        &:after {
          padding: 7px 56px;
          color:#000;
        }

        &.submit{
          background:$secondaryColor;

        }
      }

    }

    >.err{
      text-align: center;
      display: inline-block;
      position:relative;
      margin:12px auto 0;
      &.active:after{
        content:'!';
        position:absolute;
        top:-24px;
        left:-24px;
        font-size:64px;
        color:$subtleFontColor;
        transform:rotate(-13deg);
      }
    }
  }





}
/*
.submitForm {
    .main{
      color:#000;
      font-size:$LargeFontSize;
      margin: 0 0 40px 0;
    }
    .inputEffectAgain {
      position: relative;
      margin: 0 22px 0 0;
      width: 189px;
      display: inline-block;

      label {
        color: $subtleFontColor;
        font-size: $bigFontSize;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s $normalTiming all;
      }

      input:focus ~ label, label.active {
        top: -20px;
        font-size: $bigFontSize - 2px;
        color: $subtleFontColor;
      }

      input {
        font-size: $bigFontSize;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $subtleFontColor2;
        background: none;
        outline: none;
      }
    }
    >.ButtonNormal{
      display: block;
      margin:8px 0;
    }
  }


*/
