@import '../../styles/variables.scss';

.myInfo{
  animation:entering .3s ease;
  border:2px solid $mainColor;
  border-radius:$borderRadius;
  min-height:220px;
  width:100%;
  background:white;
  >header{
    height:84px;
    background:$mainColor;
    padding:12px 48px;
    position:relative;
    >.personal{
      float:left;
      >h3{
        color:#fff;
        font-size:$bigFontSize;
        margin:6px 0 0;
      }
      >.modText{
        >.text{
          margin:2px 8px 0 0;
          p, input{
            font-size:$fontSize;
            color:$fontColor1;
          }
          input{
            background:none;
            width: 300px;
            margin: 0 12px 0 0;
          }
        }
      }
    }
    >.submit{
      float:right;
      position:absolute;
      right:24px;
      margin:12px 0 0 0;
      opacity:0;
      transform: scale(0.8);
      transition: transform .2s $bounceTiming, opacity .23s $normalTiming;
      visibility: hidden;

      &.active{
        opacity:1;
        transform: scale(1);
        visibility: visible;
      }
      >.err{
        color:#fff;
        margin:0 12px 0 0;
      }
      >.ButtonNormal{
        background: $secondaryColor;
        border:none;
        color:$fontColor1;
      }
    }
  }
  >.content{
    position: relative;
    padding:32px 48px;
    >.avartarEditor{
      position:absolute;
      left:32px;
      box-shadow: 0 0 3px rgba(0,0,0,.4);
      >canvas{
        display:block;
        cursor:move;
      }
      >input{
        display: block;
        width: 165px;
        margin: 12px auto;
      }
      >.controls{
        text-align: center;
        margin: 12px auto;
        >.ButtonNormal.cancel{
          border:none;
          margin:0 0 0 14px;
          >span, &:after{
            padding:7px 0;
          }
        }
      }
    }
    >.avartar{
      height:185px;
      width:185px;
      border-radius:50%;
      border:1px solid $subtleFontColor2;
      overflow: hidden;
      display: inline-block;
      position:absolute;
      cursor: pointer;
      >input{
        display:none;
      }


      &:hover > span{
        opacity:1;
      }
      >img{
        height: 100%;
        width: 100%;

      }
      >span{
        position:absolute;
        opacity:0;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: block;
        padding:80px 5px 0;
        border-radius:50%;
        color:#fff;
        text-align: center;
        background:$subtleFontColor2;
        transition:all .3s ease;
        >svg{
          fill: #fff;
        }
      }
    }
    >.info{

      padding:0 0 0 48+185px;
      vertical-align: top;
      >ul{
       >li{
         margin:0 0 21px 0;
         >.subtle{
           margin:0;
           color:$subtleFontColor2;

           >.svgWrapper{
             float:right;
             cursor: pointer;
             display: inline-block;
             &:hover >svg{
               fill: #4A4A4A;
             }
             >svg{
               margin: 0 0 0 0;
               fill: rgba(0, 0, 0, 0.42);
               height: 20px;
               width: 18px;

             }
           }
         }
         >p{
           margin: 3px 0 0 0;
           white-space: nowrap;
           font-size: $bigFontSize;
         }

       }
      }

    }
  }



}
