@import '../../styles/variables.scss';
$bannerHeightSmall:50px;

.banner{
  &.miniBanner:not(.notScrolled){
    height: $bannerHeightSmall;
    .shoppingCart{
      width:86px;
    }
    >.inner{
      > .left{
        > a > svg{
          height: $bannerHeightSmall;
        }
        >.InputNormal{
          margin-top:($bannerHeightSmall - $inputHeight)/2;
          padding-top:1px;
          padding-bottom:1px;
          >input{
            height: 32px;
            line-height: 32px;
            margin-top: 3px;
            border: none;
            border-bottom: 1px solid $subtleFontColor;
            box-shadow:none;
          }
        }
      }
      >.right{
        >ul>li{
          &.user{
            height: 32px;
            width: 32px;
            img{
              height: 32px;
              width: 32px;
            }
          }
          >a{
            >span{
              height:$bannerHeightSmall;
              line-height:$bannerHeightSmall;
            }
            &:after{
              height:$bannerHeightSmall;
              line-height:$bannerHeightSmall;
            }
          }
        }
        >.shoppingCart{
          height:$bannerHeightSmall;
          line-height:$bannerHeightSmall;
          >.close{
            top: 6px;
          }
        }
      }
    }
  }
  &.isHome{
    &.notScrolled{
      position:absolute;
      background:none;
      box-shadow:none;
      color:$bannerBg;
      >.inner {
        > .right > ul > li > a {
          color: $bannerBg;
          &:after {
            color: $bannerBg;
          }
        }
        > .left {
          >a>svg{
            fill: #fff;
          }
          > .InputNormal {
            opacity: 0;
            visibility: hidden;
            width: 0;
          }
        }


        .shoppingCart{
          background:none;
          &.active{
            background:$mainColorTint;
            &:hover{
              background:$mainColorTint;

            }
          }
          &:hover{
            background:rgba($mainColor,.5);

          }
        }

      }

      >.cartWrapper{
        color: $fontColor;
        position:absolute;
        background:none;
      }
    }

  }

  background: $bannerBg;
  height:$bannerHeight;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  position: fixed;
  top:0;
  left:0;
  right:0;
  transition:background .24s ease,box-shadow .24s ease,height .24s ease;
  z-index:20;
  >.inner{
    z-index: 1;
    @include maxWidth();
    height:100%;
    position:relative;
    >.left{
      float:left;
      >a{
        display: inline-block;
        float: left;
        >svg{
          width: $bannerHeight;
          height: $bannerHeight;
          fill: $boldFontColor;
          transition: height .24s ease;
        }
      }
      >.InputNormal{
        opacity:1;
        float:left;
        margin-left:120px;
        margin-top:($bannerHeight - $inputHeight)/2;
        transition: opacicty .24s $normalTiming, margin-top .24s ease;
        >input{
          width:330px;
        }
      }
    }
    >.right{
      padding-right:24px;
      float:right;
      height:100%;
      >ul{
          margin:0;
          display: inline-block;
          padding-right: $bannerHeight;
        >li{

          &.user{
            display:inline-block;
            position:relative;
            height: 50px;
            width: 50px;
            &:hover{
              >.controls{
                visibility:visible;
                opacity:1;
                transform:translate3d(0,0,0);
              }
            }
            >.controls{
              visibility:hidden;
              opacity:0;
              transform:translate3d(0,-12%,0);
              transition:all .21s ease;
              box-shadow:0 1px 2px $subtleFontColor2;
              position:absolute;
              bottom: -69px;
              left: -24px;
              right: -24px;
              background: white;
              padding: 9px 12px;
              color: $fontColor;
              border-radius: $borderRadius;
              >li{
                cursor:pointer;
                margin:3px 0;
                transform:translate3d(0,0,0);
                transition: transform .12s ease;

                &:hover{
                  transform:translate3d(5px,0,0);
                }
              }
            }
          }

          display: inline;
          margin:0 6px;
          &.special{
            background:$mainColor;
            padding:9px 12px;
            margin:0 18px;
            border-radius: $borderRadius;
          }
          >a{
            position:relative;
            display: inline-block;

            @include buttonEffect1(0 12px,25%,$bannerHeight,$normalTiming);

          }
          >a>img{
            height: ($bannerHeight - 34px);
            width: ($bannerHeight - 34px);
            border-radius: 50%;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            border:$borderProperty;
          }
        }
      }

      >.shoppingCart{
        position: absolute;
        right: 0;
        height: $bannerHeight;
        width: $bannerHeight;
        display: inline-block;
        line-height: $bannerHeight;
        background:$mainColor;
        margin-left:12px;
        text-align:center;
        border:none;
        outline:none;
        padding:0 0 0 6px;
        overflow: hidden;
        transition: width .1s ease-in-out .3s, height .24s ease;
        >span{
          font-size: $bigFontSize + 2px;
          color:#fff;
          display: inline-block;
          vertical-align: baseline;
          padding:0 0 0 6px;
          transition:font-size .24s ease;
        }

        >.svgWrapper {
          vertical-align: middle;
          display: inline-block;
          > svg {
            stroke: #fff;
            width: 20px;
            height: 18px;
          }
          transition:all .24s ease;
        }

        &:hover{
          background:$mainColorTint;
        }

        >.close{
          visibility: hidden;
          position:absolute;
          right: -30px;
          top: 12px;
          transition:all .1s ease;
        }
        &.active{
          transition: all .1s ease;
          padding:0;
          width:100%;
          >span {
            font-size: $LargeFontSize;
          }
          >.close{
            right: 12px;
            visibility: visible;
          }
          >.svgWrapper {
            vertical-align: middle;
            display: inline-block;
            > svg {
              stroke: #fff;
              width: 30px;
              height: 27px;
            }
          }
          &.changed{
            animation:none;
          }
        }

        &.changed{
          animation: cartChanged .3s ease;
        }

      }




    }
  }
  .cartWrapper{
    position: fixed;
    z-index: 0;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    transition:all .4s ease;
    visibility: hidden;
    .cart {
      padding-top:$bannerHeight + 32px;
      transform: translate3d(0,-100%,0);
      transition:all .3s $bounceTiming;
    }
    &.active{
      background: $subtleFontColor2;
      visibility: visible;

      .cart{
      transform: translate3d(0,0,0);
      transition:all .3s $bounceTiming .1s;
      }
    }
  }
}

@keyframes cartChanged {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
