@import '../../styles/variables.scss';
.banner{

  &.isHome{
    &.notScrolled{
      position:absolute;
      background:none;
      box-shadow:none;
      color:$bannerBg;
      >.inner{
        >.right>ul>li>a {
          color: $bannerBg;
          &:after {
            color: $bannerBg;
          }
        }
        >.left>.InputNormal{
          opacity:0;
          visibility: hidden;
          width: 0;
        }
      }
    }

  }

  background: $bannerBg;
  height:$bannerHeight;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  position: fixed;
  top:0;
  left:0;
  right:0;
  transition:background .3s,box-shadow .3s;
  transition-timing-function: $normalTiming;
  z-index:2;
  >.inner{
    @include maxWidth();
    height:100%;
    position:relative;
    >.left{

      >a{
        padding:12px 0 8px 24px;
        float:left;
      }
      >.InputNormal{
        opacity:1;
        float:left;
        margin-left:120px;
        margin-top:($bannerHeight - $inputHeight)/2;
        transition: opacicty .3s $normalTiming;
        >input{
          width:330px;
        }
      }
    }
    >.right{
      padding-right:24px;
      float:right;
      height:100%;
      >ul{
          margin:0;
        >li{
          display: inline;
          margin:0 6px;
          &.special{
            background:$mainColor;
            padding:9px 12px;
            margin:0 18px;
            border-radius: $borderRadius;
          }
          >a{
            position:relative;
            display: inline-block;

            @include buttonEffect1(0 12px,25%,$bannerHeight,$normalTiming);

          }
          >img{
            height: ($bannerHeight - 34px);
            width: ($bannerHeight - 34px);
            border-radius: 50%;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            border:$borderProperty;
          }
        }
      }

    }
  }
}
