@import '../../styles/variables.scss';
.banner{

  &.isHome{
    &.notScrolled{
      position:absolute;
      background:none;
      box-shadow:none;
      color:$bannerBg;
      >.inner {
        > .right > ul > li > a {
          color: $bannerBg;
          &:after {
            color: $bannerBg;
          }
        }
        > .left {
          >a>svg{
            fill: #fff;
          }
          > .InputNormal {
            opacity: 0;
            visibility: hidden;
            width: 0;
          }
        }


        .shoppingCart{
          background:none;
          &.active{
            background:$mainColorTint;
            &:hover{
              background:$mainColorTint;

            }
          }
          &:hover{
            background:rgba($mainColor,.5);

          }
        }

      }

      >.cartWrapper{
        color: $fontColor;
        position:absolute;
        background:none;
      }
    }

  }

  background: $bannerBg;
  height:$bannerHeight;
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  position: fixed;
  top:0;
  left:0;
  right:0;
  transition:background .3s,box-shadow .3s;
  transition-timing-function: $normalTiming;
  z-index:2;
  >.inner{
    z-index: 1;
    @include maxWidth();
    height:100%;
    position:relative;
    >.left{
      float:left;
      >a{
        display: inline-block;
        float: left;
        >svg{
          width: $bannerHeight;
          height: $bannerHeight;
          fill: $boldFontColor;
        }
      }
      >.InputNormal{
        opacity:1;
        float:left;
        margin-left:120px;
        margin-top:($bannerHeight - $inputHeight)/2;
        transition: opacicty .3s $normalTiming;
        >input{
          width:330px;
        }
      }
    }
    >.right{
      padding-right:24px;
      float:right;
      height:100%;
      >ul{
          margin:0;
          display: inline-block;
          padding-right: $bannerHeight;
        >li{
          display: inline;
          margin:0 6px;
          &.special{
            background:$mainColor;
            padding:9px 12px;
            margin:0 18px;
            border-radius: $borderRadius;
          }
          >a{
            position:relative;
            display: inline-block;

            @include buttonEffect1(0 12px,25%,$bannerHeight,$normalTiming);

          }
          >a>img{
            height: ($bannerHeight - 34px);
            width: ($bannerHeight - 34px);
            border-radius: 50%;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            border:$borderProperty;
          }
        }
      }

      >.shoppingCart{
        position: absolute;
        right: 0;
        height: $bannerHeight;
        width: $bannerHeight;
        display: inline-block;
        line-height: $bannerHeight;
        background:$mainColor;
        margin-left:12px;
        text-align:center;
        border:none;
        outline:none;
        padding:0 0 0 6px;
        overflow: hidden;
        transition: all .1s ease-in-out .3s;
        >span{
          font-size: $bigFontSize + 2px;
          color:#fff;
          display: inline-block;
          vertical-align: baseline;
          padding:0 0 0 6px;
          transition:font-size .24s ease;
        }

        >.svgWrapper {
          vertical-align: middle;
          display: inline-block;
          > svg {
            stroke: #fff;
            width: 20px;
            height: 18px;
          }
          transition:all .24s ease;
        }

        &:hover{
          background:$mainColorTint;
        }

        >.close{
          visibility: hidden;
          position:absolute;
          right: -30px;
          top: 12px;
          transition:all .1s ease;
        }
        &.active{
          transition: all .1s ease;
          padding:0;
          width:100%;
          >span {
            font-size: $LargeFontSize;
          }
          >.close{
            right: 12px;
            visibility: visible;
          }
          >.svgWrapper {
            vertical-align: middle;
            display: inline-block;
            > svg {
              stroke: #fff;
              width: 30px;
              height: 27px;
            }
          }
        }

      }




    }
  }
  .cartWrapper{
    position: fixed;
    z-index: 0;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    transition:all .4s ease;
    visibility: hidden;
    .cart {
      padding-top:$bannerHeight + 32px;
      transform: translate3d(0,-100%,0);
      transition:all .3s $bounceTiming;
    }
    &.active{
      background: $subtleFontColor2;
      visibility: visible;

      .cart{
      transform: translate3d(0,0,0);
      transition:all .3s $bounceTiming .1s;
      }
    }
  }
}
